---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import TeamDemos from '../components/TeamDemos';
import TabGroup from '../components/TabGroup';
import MarketingSection from '../components/MarketingSection';
import ScrollingText from '../components/ScrollingText';
---

<Layout title="Arcade Clone">
  <main>
    <Navbar client:load />
    <TeamDemos client:load />
    <TabGroup client:load />
    <MarketingSection client:load />
    <ScrollingText client:load />
  </main>
</Layout>