---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import TeamDemos from '../components/TeamDemos';
import TabGroup from '../components/TabGroup';
import MarketingSection from '../components/MarketingSection';
import ScrollingText from '../components/ScrollingText';
import FastestWay from '../components/FastestWay';
---

<Layout title="Arcade Clone">
  <main>
    <Navbar client:load />
    <div className="pt-[72px]">
    <TeamDemos client:load />
    <TabGroup client:load />
    <MarketingSection client:load />
    <ScrollingText client:load />
    <FastestWay client:load />
    </div>
    <div className="bottom-glass-bar"></div>
  </main>
</Layout>